# R session and Studio
.Rhistory
.RData
.Rproj.user/

# report outputs
reports/*.docx
reports/*.html
reports/*_files/

!reports/report_quarto.html
!reports/report_quarto_files/

# design outputs
design/*.html
design/*_files/

!design/DAG_files/
!design/DAG.html

# msc
.positai
